#nav_menu ul {list-style-type: none;}
#nav_menu ul li {float:left;}
#nav_menu ul li a {
    text-align: center;
    display: block;
    width: 210px;
    padding: 10px 10px 10px 10px;
    text-decoration: none;
    background-color: #05D9F2;
    color: black;
    font-weight: bold;
    border: 3px double #F50083;}

a:link {color:  #F50083;
    text-decoration: none; border: 3px double #F50083;}
    a:hover {color: #F2D605;
    text-decoration: none;}
    li > ul {display: none}
    li:hover ul {display: block; position: absolute;background-color:#05D9F2;margin:0; padding: 10px 10px 10px 10px;border: 3px double #F50083; }
    li:hover ul li a:link{display: block;margin-bottom:-30px;}