font-face { font-family: "Prata", serif;
    font-weight: 400;
    font-style: normal;
  src: url(Prata-Regular.ttf);}

h1 {color: #F50083;}
h1 {text-align:center; font-family: "Prata";}
h1 {-webkit-text-stroke-width: 1px; -webkit-text-stroke-color: purple;}
h2 {text-align: center; font-family: "Prata";}
h2 {color: #F2D605}
h2 {-webkit-text-stroke-width: 1px; -webkit-text-stroke-color: purple;}
h3 {text-align: center; font-family: "Prata";}
h3 {color: #05D9F2;}
h3 {-webkit-text-stroke-width: 1px; -webkit-text-stroke-color: purple;}
main p:first-child::first-letter {font-size: 150%;}
.apa-reference {padding-left: 36pt;
text-indent: -36pt;}
.wrapper {display:grid}
blockquote {text-align: center;}
blockquote {display: block; padding: 5px 5px 5px 5px; text-decoration: solid; color: black; background-color: #05D9F2;}

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
  }

  @media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
  }

  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }

  @media print {#header, #footer,#nav {display: none}
*:before,
*:after {color: black; font-style: serif;}
}
  @page {margin: 1in}